DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD="password"
DB_NAME="notes_db"
TEST_DB_HOST="127.0.0.1"
TEST_DB_PORT="3306"
TEST_DB_USER="root"
TEST_DB_PASSWORD="password"
TEST_DB_NAME="notes_db"
